/*Barra de Navegación  */
.navbar {
    padding: 1rem;
    background-color: #1b1b32;
    animation: fadeIn 1.5s ease;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;

}

.navbar-collapse .navbar-brand{
    margin: 0px;
    padding: 0px;
    border-radius: 50px;
    background-color: #1b1b32;
    transition: background-color 0.9s, box-shadow 0.6s, border-radius 0.8s;
} 

.navbar-collapse .navbar-brand:hover {
    background-color: #1b1b32;
    border-radius: 50px;
    box-shadow: 0 0 300px rgba(255, 255, 255, 1);
    transition: background-color 0.7s, box-shadow 0.6s, border-radius 0.8s; 
} 

/* Estilos generales */
.texto-negro {
    color: black;
}

.texto-blanco {
    color: white;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Rubik Moonrocks', sans-serif;
}

.section-title {
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Rubik Moonrocks', sans-serif;
}

.section-description {
    font-size: 1.2rem;
    color: #584e4e;
}

.section-text {
    font-size: 1.2rem;
}

.section-dark {
    background-color: #1b1b32;
    color: white;
}

.section-clear {
    color: black;
    background-color: #f5f6f7;
}

/*  seccion Hero */
.hero {
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

.hero-principal {
    padding: 3rem;
}

.hero-image-profile {
    width: 200px;
    height: 200px;
    border-radius: 30%;
    margin: 20px;
}

.hero-principal  h2 {
    font-size: 1.5rem;
    color: #615151;
}

/*  Section About Me */
.about-me {
    height: 500px;
    padding: 10px;
}

.about-me .contenedor {
    max-width: 600px;
    text-align: center;
}

/* Experiencia */
.experiencia {
    padding: 40px 40px 60px 40px;
}

.columna {
    margin-top: 4px;
    padding: 20px;
    border: solid 1px #0a0a23;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.3s ease-in;
}

.columna:hover {
    color: white;
    background-color: #0a0a23;
}

.experiencia i {
    font-size: 2.5rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
}

.experiencia-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.badges-contenedo {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.badges {
    margin: 15px;
}

/*Project*/
.project-recent {
    padding: 20px;
}

.project-recent img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    display: block;
    transition: all 0.3s ease;
}

.project-content {
    padding-top: 60px;
    margin-bottom: 40px;
}

.overlay {
    transition: all 0.3s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p {
    font-size: 25px;
    margin-bottom: 0;
    font-weight: bold;
}

.project {
    position: relative;
}

.project:hover img {
    opacity: 0.2;
}

.project:hover .overlay {
    opacity: 1;
}

.overlay .icons-container {
    display: flex;
}

.overlay i {
    color: black;
    font-size: 60px;
    margin: 20px;
}



/* Cambio de color  */
.navbar-nav .nav-link {
    color: #ccc;
    transition: color 0.7s, text-shadow 0.7s;
    font-size: 16px;
}

.navbar-nav .nav-link:hover {
    color: rgba(181, 167, 10, 0.7);  
    text-shadow: 0 0 30px rgba(255, 255, 255, 1);  
    transition: color 0.7s;
}

.navbar-nav .nav-link:active {
    color: rgba(181, 167, 10, 0.7);
    transition: color 0.7s;
}

.navbar-toggler {
    background-color:rgba(181, 167, 10, 0.7);;
}

.navbar-toggler:hover {
    background-color: rgba(181, 167, 10, 0.5); /* Cambia a tu color deseado en hover */
    border-color: rgba(181, 167, 10, 0.5); /* Cambia a tu color deseado en hover */
    border:  1px rgba(181, 167, 10, 0.5);;
}

.navbar-toggler:focus {
    outline: 2px solid rgba(181, 167, 10, 0.4);;
    box-shadow: 0 0 10px rgba(181, 167, 10, 0.4);;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
        filter: blur(10px);
    }
    0% {
        opacity: 1;
        filter: brightness(3) blur(5px);
    }
}


/* Responsive */
@media screen and (max-width: 767px) {
    .navbar-brand{
        display: none;
    }  
    .navbar-nav .nav-link {
        text-align: center;
    }
}

@media screen and (min-width: 700px) {
    .hero-inferior-image {
        max-width: 600px;
    }
}

@media screen and (max-width: 767px) {
    .navbar-brand{
        display: none;
    }  
    .navbar-nav .nav-link {
        text-align: center;
    }
}


